

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: black;

}
header {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
  
    
}
h2 {

  color: white;
}
h1 {
  color: white;
}

button {

  margin: 20px;
  color: #33f293;
  background-color: black;

}

.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center; 
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 600px;
  
}

.grid div {
  
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.gun {
  background-image: url('../assets/gun1top.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.vamp {
  background-image: url('../assets/vampire.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.grave {
  background-image: url('../assets/large_headstone.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.sword {
  background-image: url('../assets/espada_foda.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.heart {
  background-image: url('../assets/sprite_0.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#game-over {
  color: aliceblue;
  font-size: 20px;
}
#who-won {
  color: aliceblue;
  font-size: 20px;
  margin: 20px;
}




